<h1>Welcome to DogDB!</h1>

<%= link_to 'View dogs', dog_index_path %>
<%= link_to 'View furs', fur_index_path %>
<%= link_to 'View weathers', weather_index_path %>
<%= link_to 'View groups', group_index_path %>
<%= link_to 'View issues', issue_index_path %>
<%= link_to 'View characters', character_index_path %>