<h1>Welcome to DogDB!</h1>

<%= link_to 'View dogs', dog_index_path %>
<%= link_to 'View furs', fur_index_path %>
<%= link_to 'View weather', weather_index_path %>
<%= link_to 'View group', group_index_path %>
<%= link_to 'View issue', issue_index_path %>
<%= link_to 'View character', character_index_path %>