<h1>Edit Weather</h1>
 
<%= form_with(model: @weather, local: true) do |form| %>
 
  <% if @weather.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@weather.errors.count, "error") %> prohibited
        this weather entry from being saved:
      </h2>
      <ul>
        <% @weather.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :weather_name %><br>
    <%= form.text_field :weather_name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', weather_index_path %>